@model TeacherCreateVM
@{ ViewData["Title"] = "Create Teacher";
    int count = 0;
    }

<div class="container">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input class="form-control" asp-for="Photo">
                        <span class="text-danger" asp-validation-for="Photo"></span>

                        <label asp-for="@Model.Teacher.FullNAME"></label>
                        <input class="form-control" asp-for="@Model.Teacher.FullNAME">
                        <span class="text-danger" asp-validation-for="@Model.Teacher.FullNAME"></span>

                        <label asp-for="@Model.Teacher.Profession"></label>
                        <input class="form-control" asp-for="@Model.Teacher.Profession">
                        <span class="text-danger" asp-validation-for="@Model.Teacher.Profession"></span>

                        <label asp-for="@Model.Teacher.About"></label>
                        <input class="form-control" asp-for="@Model.Teacher.About">
                        <span class="text-danger" asp-validation-for="@Model.Teacher.About"></span>

                        <h3 class="my-5">Teacher Contacts</h3>

                        <label asp-for="@Model.TeacherContacts.Mail"></label>
                        <input class="form-control" asp-for="@Model.TeacherContacts.Mail">
                        <span class="text-danger" asp-validation-for="@Model.TeacherContacts.Mail"></span>

                        <label asp-for="@Model.TeacherContacts.Phone"></label>
                        <input class="form-control" asp-for="@Model.TeacherContacts.Phone">
                        <span class="text-danger" asp-validation-for="@Model.TeacherContacts.Phone"></span>

                        <label asp-for="@Model.TeacherContacts.Skype"></label>
                        <input class="form-control" asp-for="@Model.TeacherContacts.Skype">
                        <span class="text-danger" asp-validation-for="@Model.TeacherContacts.Skype"></span>

                        <h3 class="my-5">Teacher Details</h3>

                        <label asp-for="@Model.TeacherDetails.Degree"></label>
                        <input class="form-control" asp-for="@Model.TeacherDetails.Degree">
                        <span class="text-danger" asp-validation-for="@Model.TeacherDetails.Degree"></span>

                        <label asp-for="@Model.TeacherDetails.Experience"></label>
                        <input class="form-control" asp-for="@Model.TeacherDetails.Experience">
                        <span class="text-danger" asp-validation-for="@Model.TeacherDetails.Experience"></span>

                        <label asp-for="@Model.TeacherDetails.Hobbies"></label>
                        <input class="form-control" asp-for="@Model.TeacherDetails.Hobbies">
                        <span class="text-danger" asp-validation-for="@Model.TeacherDetails.Hobbies"></span>

                        <label asp-for="@Model.TeacherDetails.Faculty"></label>
                        <input class="form-control" asp-for="@Model.TeacherDetails.Faculty">
                        <span class="text-danger" asp-validation-for="@Model.TeacherDetails.Faculty"></span>

                        <h3 class="my-5">Teacher Skills</h3>

                        @foreach (var skill in Model.Skills)
                        {
                                    <input type="hidden" asp-for="@Model.Skills[count].Name" />
                                    <input type="hidden" asp-for="@Model.Skills[count].Id" />
                                    <label>@skill.Name</label>
                                    <input type="number" class="form-control" asp-for="@Model.Percentage">
                                    <span class="text-danger" asp-validation-for="@Model.Percentage"></span>
                                    count++;
                         }



                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">
                        <a asp-action="Index">Cancel</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


