@model Paginate<Teacher>
@{ ViewData["Title"] = "Teacher";
    int count = 1; }
<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <h2>Categories</h2>
        <a class="btn btn-success" asp-action="Create">Create Teacher</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                      Setting
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model.Datas)
                {
                <tr>
                    <td>

                        @count
                    </td>
                    <td>
                        <img src="~/assets/img/teacher/@teacher.Image" style="width:100px;height:100px" alt="Alternate Text" />

                    </td>
                    <td>
                        @teacher.FullNAME

                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@teacher.Id">Edit</a>

                        <form style="display:inline-block" method="post" asp-action="Delete" asp-route-id="@teacher.Id">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-info" asp-action="Detail" asp-route-id="@teacher.Id">Detail</a>
                    </td>

                </tr>
count++;
}

            </tbody>
        </table>
    </div>

    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                @for (int i = 1; i < Model.TotalPage; i++)
                {
                    <li class="page-item"><a class="page-link"  asp-action="Index" asp-route-page="@i">@i</a></li>
                }
              

                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


