@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var slider in Model.Sliders.Where(m=>m.IsDelete == false).OrderByDescending(m=>m.Id).Take(3))
        {
            <div class="single-slide item" style="background-image: url(assets/img/slider/@slider.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@slider.Title </h2>
                                        <p>@slider.Description </p>
                                        <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>

        }

        <!-- End Slingle Slide -->
        <!-- Start Slider Content -->
    </div>
    <!-- End Slingle Slide -->
    </div>
</section>
<!-- Background Area End -->
<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var proteach in Model.ProfessionalTeacher.Where(m => m.IsDelete == false).OrderByDescending(m => m.Id).Take(3))
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <h3><a asp-controller="Teacher" asp-action="Index">@proteach.Title</a></h3>
                        <p> @proteach.Description</p>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
 <
<partial name="_AboutPartial" model="Model.Welcome" />
<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var courses in Model.Course.OrderByDescending(m=>m.Id).Take(3))
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-controller="Course" asp-action="CourseDetails" asp-route-id="@courses.Id">
                                <img src="~/assets/img/course/@courses.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3>  <a asp-controller="Course" asp-action="CourseDetails" asp-route-id="@courses.Id">@courses.Title</a></h3>
                            <p>@courses.Description</p>
                            <a class="default-btn" asp-controller="Course" asp-action="CourseDetails" asp-route-id ="@courses.Id">read more</a>
                        </div>
                    </div>
                </div>

            }



        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140">
    <div class="container">
        <div class="row">
            <<partial name="_VideoPartial" model="Model.Video" />
            <<partial name="_NoticePartial" model="Model.Notice" />

        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @foreach (var events in Model.Event.Take(2))
                {
                    <div class="single-event mb-35">
                        <div class="event-img">
                            <a asp-controller="Event" asp-action="EventDetails" asp-route-id="@events.Id"><img src="~/assets/img/event/@events.Image" alt="event"></a>
                        </div>
                        <div class="event-content text-left">
                            @Html.Raw(events.Date)
                            <h4><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@events.Id">@events.Name</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>@events.Time</li>
                                <li><i class="fa fa-map-marker"></i>@events.Location</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="EventDetails" asp-route-id="@events.Id">join now</a>
                            </div>
                        </div>
                    </div>
                }


            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                @foreach (var events in Model.Event.Skip(2).Take(2))
                {
                    <div class="single-event mb-35">
                        <div class="event-img">
                            <a href="event-details.html"><img src="~/assets/img/event/@events.Image" alt="event"></a>
                        </div>
                        <div class="event-content text-left">
                            @Html.Raw(events.Date)
                            <h4><a href="event-details.html">@events.Name</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>@events.Time</li>
                                <li><i class="fa fa-map-marker"></i>@events.Location</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="EventDetails" asp-route-id="@events.Id">join now</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
 <
<partial name="_TestemonialPartial" model="Model.Testemonial" />
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blogs in Model.Blog.Take(3))
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id ="@blogs.Id"><img src="~/assets/img/blog/@blogs.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id ="@blogs.Id"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>@blogs.From  /  @blogs.Date  /  <i class="fa fa-comments-o"></i> @blogs.Comment</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-controller="Blog" asp-action="BlogDetails" asp-route-id ="@blogs.Id">@blogs.Title </a></h2>
                                <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id ="@blogs.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- Blog Area End -->
